<main class="containerContent">

  <!-- section for highlighted socks -->
  <section class="featuredSocks">

    <article *ngFor="let sock of socks">
      <img src="assets/{{sock.picture}}">
      <ul>
        <li><p><strong>{{sock.name}}</strong></p></li>
        <li><p>Searching for: {{sock.searchingFor}}</p></li>
        <li><p>Size: {{sock.size}}</p></li>
        <li><p>Condition: {{sock.condition}}</p></li>
        <li>
          <button title="go to shop" *ngIf="!sock.searchingFor.includes('match')">&#9989; I want them!</button>
          <button title="go to shop" *ngIf="sock.searchingFor.includes('match')">&#10024; Thats my match!</button>
        </li>
      </ul>
    </article>
  </section>

  <!-- section for diy -->
  <section id="diycorner" class="diycorner">
    <p>Hello, this is the DIY Corner!</p>
    <p>Idk anything about DIY-Projects with socks!</p>

    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>

  </section>

  <!-- section for contact -->
  <section id="contact" class="contact">
    Contact

    <p>Hello, this is the team behind SingleSocks!</p>
    <p>We are four students</p>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>

  </section>

</main>
