<main class="containerContent">

  <!-- section for highlighted socks -->
  <section class="featuredSocks">

    <article>
      <img src="assets/greysocks.png">
      <ul>
        <li><p><strong>Grey Pair</strong></p></li>
        <li><p>Searching for: a new home</p></li>
        <li><p>Size: 43</p></li>
        <li><p>Condition: pretty good</p></li>
        <li>
          <button title="go to shop">&#9989; I want them!</button>
        </li>
      </ul>
    </article>

    <article>
      <img src="assets/redsinglesock.png">
      <ul>
        <li><p><strong>Red Single</strong></p></li>
        <li><p>Searching for: a match</p></li>
        <li><p>Size: 36</p></li>
        <li><p>Condition: good</p></li>
        <li>
          <button title="go to shop">&#10024; Thats my match!</button>
        </li>
      </ul>
    </article>

    <article>
      <img src="assets/bluestripesocks.png">
      <ul>
        <li><p><strong>Blue Striped</strong></p></li>
        <li><p>Searching for: a new home</p></li>
        <li><p>Size: 38</p></li>
        <li><p>Condition: new</p></li>
        <li>
          <button title="go to shop">&#9989; I want them!</button>
        </li>
      </ul>
    </article>

    <article>
      <img src="assets/whiteadidasstripe.png">
      <ul>
        <li><p><strong>White Adidas Stripe</strong></p></li>
        <li><p>Searching for: a match</p></li>
        <li><p>Size: 40</p></li>
        <li><p>Condition: good as new</p></li>
        <li>
          <button title="go to shop">&#10024; Thats my match!</button>
        </li>
      </ul>
    </article>

    <article>
      <img src="assets/redsinglesock.png">
      <ul>
        <li><p><strong>Model Red Single Sock</strong></p></li>
        <li><p>Searching for: a match</p></li>
        <li><p>Size: 36</p></li>
        <li><p>Condition: good</p></li>
        <li>
          <button title="go to shop">&#10024; Thats my match!</button>
        </li>
      </ul>
    </article>

    <article>
      <img src="assets/redsinglesock.png">
      <ul>
        <li><p><strong>Model Red Single Sock</strong></p></li>
        <li><p>Searching for: a match</p></li>
        <li><p>Size: 36</p></li>
        <li><p>Condition: good</p></li>
        <li>
          <button title="go to shop">&#10024; Thats my match!</button>
        </li>
      </ul>
    </article>


  </section>

  <!-- section for diy -->
  <section id="diycorner" class="diycorner">
    <p>Hello, this is the DIY Corner!</p>
    <p>Idk anything about DIY-Projects with socks!</p>

    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>

  </section>

  <!-- section for contact -->
  <section id="contact" class="contact">
    Contact

    <p>Hello, this is the team behind SingleSocks!</p>
    <p>We are four students</p>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>

  </section>

</main>
