<header id="top" class="containerHeader">
  <div class="slogan">
    <h2 id="headerHeading">Welcome to SingleSocks!</h2>
    <p id="headerSubheading">A project made for people that lose socks.</p>
  </div>
</header>

<main class="containerContent">
  <section class="FeaturedHeader">
    <h1>Featured Socks</h1>
  </section>

  <!-- section for highlighted socks -->
  <section class="featuredSocks">
    <article *ngFor="let sock of featuredSocks">
      <img src="assets/{{sock.picture}}">
      <ul>
        <li><p><strong>{{sock.name}}</strong></p></li>
        <li><p>Size: {{sock.size}}</p></li>
        <li><p>Condition: {{sock.condition}}</p></li>
        <li>
          <button title="go to shop"><a [routerLink]="['/sock', sock._id]">&#10024;Thats my match!</a></button>
        </li>
      </ul>
    </article>
  </section>

  <!-- section for diy -> wurde zu eigener Seite
  <section id="diycorner" class="diycorner">
    <p>Hello, this is the DIY Corner!</p>
    <p>Idk anything about DIY-Projects with socks!</p>

    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>

  </section>-->

  <!-- section for contact -->
  <section id="ContactHeader" class="ContactHeader">
    <h1>Contact</h1>
  </section>
  <section id="contact" class="contact">
    <div class="container">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/assets/Migu.png">
        </div>
        <div class="team-content">
          <h1 class="name">Miguel Arcilla</h1>
          <h4 class="title">Our Fullstack - Genius</h4>
        </div>
        <ul class="social">
          <li><a href="mailto:miguel.arcilla@stud.fh-campuswien.ac.at" class="fa fa-envelope" aria-hidden="true"></a>
          </li>
        </ul>
      </div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/assets/Michael.png">
        </div>
        <div class="team-content">
          <h1 class="name">Michael Basta</h1>
          <h4 class="title">Our Backend - Expert</h4>
        </div>
        <ul class="social">
          <li><a href="mailto:michael.basta@stud.fh-campuswien.ac.at" class="fa fa-envelope" aria-hidden="true"></a>
          </li>
        </ul>
      </div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/assets/Chiara.png">
        </div>
        <div class="team-content">
          <h1 class="name">Chiara Fedrizzi</h1>
          <h4 class="title">Frontend Developer and Design</h4>
        </div>
        <ul class="social">
          <li><a href="mailto:chiara.fedrizzi@stud.fh-campuswien.ac.at" class="fa fa-envelope" aria-hidden="true"></a>
          </li>
        </ul>
      </div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/assets/Jamie.png">
        </div>
        <div class="team-content">
          <h1 class="name">Jamie Fuchs</h1>
          <h4 class="title">Frontend Developer and MockUp - Expert</h4>
        </div>
        <ul class="social">
          <li><a href="mailto:jamie.fuchs@stud.fh-campuswien.ac.at" class="fa fa-envelope" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!--
  <section id="contact" class="contact">
    <p>Hello, this is the team behind SingleSocks!</p>
    <p>We are four students</p>
    <img src="assets/Selfie.png" alt="Watchdoggos Selfie">
    <p>This is a selfie from the last presentation. If you are curious about the sock game, here is a link to the PowerPoint: https://1drv.ms/p/s!AmAw2cRfRnnmlHZG3SHKN2aj_jcR?e=84F7pf</p>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>

  </section-->

</main>
