<main *ngIf="userInfo">
  <section class="CreateHeader">
    <h1>User Profile</h1>

  </section>
  <h2>Welcome back, {{userInfo.displayName}}!</h2>
  <table>
    <tr>
      <td>
        <b>E-mail:</b>
      </td>
      <td>
        {{userInfo.email}}
      </td>
    </tr>
    <tr>
      <td><b>Amount of SingleSocks: </b></td>
      <td>
        {{userSocks.length}}
      </td>
    </tr>
  </table>

  <section class="profileButtons">
    <ul>
      <li class="descriptionActive">
        <input type="radio" id="prodDesc" name="infoButtons">
        <label for="prodDesc" id="productDescriptionLabel">List of Socks</label>
      </li>
    </ul>
  </section>

  <section class="featuredSocks">
    <article *ngFor="let sock of userSocks">
      <img [src]="sock.picture">
      <ul>
        <li><p><strong>{{sock.name}}</strong></p></li>
        <li><p>Size: {{sock.size}}</p></li>
        <li><p>Condition: {{sock.condition}}</p></li>
        <li>
          <button><a [routerLink]="['/sock', sock._id]">Edit this Sock</a></button>
        </li>
        <li>
          <button (click)="delete(sock._id)"><a>❌Delete this Sock❌</a></button>
        </li>
      </ul>
    </article>
  </section>

</main>
