extends layout

block content
  h1 DEBUG - Login
  form(action="/auth/login", method="post") 
    section
      label(for="email") Username 
      input#email(type="text", name="email", required, autofocus)
    section 
      label(for="password") Password 
      input#password(type="password", name="password", required) 
    button(type="submit") Sign in