@import "src/styles.scss";

.RegisterHeader{
  background-color: $secondaryColor;
  h1{
    color: white;
    font-size: xx-large;
    padding: 2rem 1rem;
    text-align: left;
  }
}

main {
  label {
    font-size: x-large;
    padding-left: 2rem;
  }

  #passwordSecurityTipp-lbl {
    font-size: medium;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #chooseLocation {
    font-size: x-large;
    padding-left: 2rem;
    background-color: #eeeeee;
    text-align: center;
  }

  #map {
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .buttonFlex {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    /*.resetButton {
      width: 25%;
      transition-duration: 0.4s;
      background-color: $tertiaryColor;
      color: $secondaryColor;
      border-style: none;
      letter-spacing: 1px;

      font-size: inherit;
      padding: 10px;

      cursor: pointer;
      border-radius: 0.3rem;
      box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);

      &:hover, &:active {
        width: 30%;
        transition-duration: 0.4s;
      }
    }*/

    .submitButton {
      width: 50%;
      transition-duration: 0.4s;
      background-color: $tertiaryColor;
      color: $secondaryColor;
      border-style: none;
      letter-spacing: 1px;

      font-size: large;
      padding: 10px;

      cursor: pointer;
      border-radius: 0.3rem;
      box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);

      &:hover, &:active {
        width: 55%;
        transition-duration: 0.4s;
      }
    }
  }
}
