<section class="RegisterHeader">
  <h1>Register now!</h1>
</section>
<main>
  <br>
  <form action="angularized_pages/app.userProfile.html">
    <section>
      <p>
        <label for="userNameInput"><b>User Name</b> (visible to others): </label>
        <input type="text" id="userNameInput" name="userName">
      </p>
      <p>
        <label for="userEmailInput"><b>E-Mail address</b> (not visible to others): </label>
        <input type="text" id="userEmailInput" name="userEmail">
      </p>
      <p>
        <label id="userPassword-lbl" for="userPasswordInput"><b>Choose a password</b> (not visible to others): </label>
        <input type="password" id="userPasswordInput" name="userPassword">
      <p id="passwordSecurityTipp-lbl">❗Your password must be between 8 and 20 signs long, include capital and lower letters, numbers and contain the following special characters: !$%&/()=?*❗</p>
    </section>

    <section>
      <p id="chooseLocation"><b>Choose your approximate location on the map</b></p>
      <p id="showLocation"></p>
      <div id="map"></div>
      <br>
    </section>

    <div class="buttonFlex">
      <button id="submitButton" class="submitButton" title="Sign In" type="submit" value="send">Register</button>
      <!--<button id="resetButton" class="resetButton" title="reset" type="reset">Reset</button>-->
    </div>
    <br>
  </form>
</main>
