@import "src/styles.scss";

.SockHeader{
  background-color: $secondaryColor;
  h1{
    color: white;
    font-size: xx-large;
    padding: 2rem 1rem;
    text-align: left;
  }
}

@media screen {
  .firstRow, .secondRow {

    flex-direction: row;
    padding-bottom: 25px;
  }

  .leftContainer, .rightContainer {

    width: 50%;
    margin-right: 20px;
  }

  .rightContainer {

    margin-right: 0;
    margin-left: 20px;
  }
}

@media screen and (max-width: 850px) {

  .firstRow, .secondRow {

    flex-direction: column;
    padding-bottom: 0;
  }

  .leftContainer, .rightContainer {

    width: 100%;
    margin: 0;
  }
}

.itemContainer {

  border-radius: 8px;
  //box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.6);

  display: flex;
  align-items: stretch;
  margin: 30px 30px 10px 30px;

  .productImage {
    text-align: center;
    width: 32%;
    margin-top: 30px;

    img {
      max-width: 500px;
    }
  }

  .productInfo {
    width: 35%;

    #productName {

      margin: 30px;
      font-size: 32px;

    }

    #manufacturerName {

      margin: 10px 30px;
      font-size: 18px;
    }

    .productPrice {
      margin: 20px 30px;

      color: #084057;
      font-size: 190%;
    }
  }

  .productSelection {
    border: 2px solid $secondaryColor;
    background-color: #eeeeee;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;

    width: 30%;

    .priceInfo {
      width: 100%;

      .productPrice {

        padding: 20px;
        font-size: 190%;
      }
    }

    .additionalInformation, .quantity, .buttons {

      display: flex;
      width: 100%;
      margin-bottom: 10px;
    }

    .additionalInformation {
      flex-direction: column;

      p {
        font-size: 110%;
        padding: 20px;
      }

      #available {
        color: green;
        font-weight: bold;
        font-size: xx-large;
        text-align: center;
      }
    }

    .quantity {
      display: flex;
      align-items: center;

      .quantityLabel {
        font-size: 110%;
        margin-left: 20px;
      }
    }

    .buttons {
      width: 100%;
      flex-direction: column;
      align-items: center;

      #contactButton, #tradeButton {
        cursor: pointer;
        border: none;

        background-color: rgb(146, 194, 214);

        width: 200px;
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
        font-size: 120%;

        transition: .3s;

      }

      #tradeButton {
        margin-top: 0;
      }
    }

    #returnProduct {

      font-size: 120%;
      padding: 20px;
    }
  }
}

.infoButtons {
  margin-top: 40px;
  margin-bottom: 20px;

  ul {
    display: flex;
    width: fit-content;

    margin: 10px 30px;
    font-size: 22px;

    :first-child {
      margin-right: 5px;
      margin-left: 0;
    }

    li {
      display: flex;

      margin-left: 5px;

    }

    label {
      cursor: pointer;
      text-align: center;

      border-radius: 10px;
      transition: background-color .3s;
      max-width: 250px;
      background-color: #eeeeee;
      padding: 25px;
    }

    .descriptionActive {
      label {
        background-color: $secondaryColor;
        color: #eeeeee;
      }
    }

    input {
      display: none;
    }
  }
}

.technicalInfoContainer, .productDescriptionContainer {

  display: block;
  padding: 10px;
  margin: 0 30px 30px 30px;


  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 20px;

    tr {
      th {
        padding: 20px;
        width: 30%;

      }

      td {
        padding: 20px;
        text-align: left;

      }
    }
  }
}

.productDescriptionContainer {
  .firstRow, .secondRow {
    display: flex;

  }

  .leftContainer, .rightContainer {

    padding: 20px;
  }

  .sectionHeading {

    font-weight: normal;
    //font-style: italic;
    font-size: 32px;
    margin-bottom: 25px;
  }

  .sectionText {

    font-size: 20px;
    line-height: 32px;
  }

}
