<section class="SockHeader">
  <h1>Sock Profile</h1>
</section>
<main *ngIf="sock">

  <div class="itemContainer">

    <div class="productImage">
      <img [src]="sock.picture">
    </div>

    <br>
    <br>
    <br>
    <div class="productInfo">
      <br>
      <br>
      <br>
      <br>
      <!-- TODO - is name necessary? -->
    </div>


    <div class="productSelection">

      <h1 id="productName">{{sock.name}}</h1>

      <div class="additionalInformation">
        <p id="available">{{sock.availability ? 'Available' : 'Taken'}}</p>
      </div>

      <div class="buttons">
        <button id="tradeButton">Offer trade</button>
        <button id="contactButton">Contact user</button>
      </div>

      <div class="returnInfo">
        <p id="returnProduct">If you find any defects in the product, please
          contact <strong>SingleSocks Headquarters</strong> directly at +436501234567. </p>
      </div>

    </div>
  </div>

  <div class="infoButtons">
    <ul>
      <li [ngClass]="{'descriptionActive': technicalDescription}">
        <input type="radio" id="techInf" name="infoButtons" (click)="technicalDescription = true" autocomplete="off">
        <label for="techInf" id="technicalInformationLabel">Sock Information</label>

      </li>
      <li [ngClass]="{'descriptionActive': !technicalDescription}">
        <input type="radio" id="prodDesc" name="infoButtons" (click)="technicalDescription = false" autocomplete="off">
        <label for="prodDesc" id="productDescriptionLabel">Product description</label>
      </li>
    </ul>
  </div>

  <div class="technicalInfoContainer" *ngIf="technicalDescription">
    <form [formGroup]="validation">
      <table>
        <tr *ngFor="let item of attributes | keyvalue">
          <th>{{item.key}}:</th>
          <td *ngIf="editingAttribute==item.key">
            <select id="{{item.key}}" name="{{item.key}}" formControlName="{{item.key}}">
              <option *ngFor="let attributeValue of item.value | keyvalue"
                      [value]="attributeValue.key">{{attributeValue.value}}</option>
            </select>
            <i class="fas fa-check-circle" (click)="save()"></i>
            <i class="fas fa-ban" (click)="cancel()"></i>
          </td>
          <td *ngIf="editingAttribute!=item.key">{{getPropertyValue(item.key)}}<i class="fas fa-pen"
                                                                                  (click)="onEdit(item.key)"></i></td>
        </tr>
      </table>
    </form>
  </div>

  <div class="productDescriptionContainer" *ngIf="!technicalDescription">

    <div class="firstRow">
      <div class="leftContainer">
        <h1 id="section1Heading" class="sectionHeading">Description</h1>
        <p id="section1Text" class="sectionText">
          {{sock.description}}
        </p>
      </div>
      <!--      <div class="rightContainer">-->
      <!--        <h1 id="section2Heading" class="sectionHeading">Another Random Sock Facts</h1>-->
      <!--        <p id="section2Text" class="sectionText">-->
      <!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>-->
      <!--          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>-->
      <!--          Ut enim ad minim veniam, quis nostrud exercitation<br>-->
      <!--          ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>-->
      <!--          Duis aute irure dolor in reprehenderit in voluptate-->
      <!--          velit esse cillum dolore eu fugiat nulla pariatur.-->
      <!--        </p>-->
      <!--      </div>-->
    </div>

    <!--    <div class="secondRow">-->
    <!--      <div class="leftContainer">-->
    <!--        <h1 id="section3Heading" class="sectionHeading">Not-so-random Sock Facts</h1>-->
    <!--        <p id="section3Text" class="sectionText">-->
    <!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>-->
    <!--          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>-->
    <!--          Ut enim ad minim veniam, quis nostrud exercitation<br>-->
    <!--          ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>-->
    <!--          Duis aute irure dolor in reprehenderit in voluptate-->
    <!--          velit esse cillum dolore eu fugiat nulla pariatur.-->
    <!--        </p>-->
    <!--      </div>-->

    <!--      <div class="rightContainer">-->
    <!--        <h1 id="section4Heading" class="sectionHeading">Optional Sock Fact</h1>-->
    <!--        <p id="section4Text" class="sectionText">-->
    <!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>-->
    <!--          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>-->
    <!--          Ut enim ad minim veniam, quis nostrud exercitation<br>-->
    <!--          ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>-->
    <!--          Duis aute irure dolor in reprehenderit in voluptate-->
    <!--          velit esse cillum dolore eu fugiat nulla pariatur.-->
    <!--        </p>-->
    <!--      </div>-->
    <!--    </div>-->

  </div>

</main>
