<section class="SockHeader">
  <h1>Sock Profile</h1>
</section>
<main>

  <div class="itemContainer">

    <div class="productImage">
      <img src="assets/{{sock.picture}}">
    </div>

    <br>
    <br>
    <br>
    <div class="productInfo">
      <br>
      <br>
      <br>
      <br>
      <h2 id="productName">{{sock.name}}</h2>
      <p id="manufacturerName">Name of manufacturer: {{sock.manufacturer}}</p>
      <p class="productPrice">Searches for {{sock.searchingFor}}</p>
    </div>


    <div class="productSelection">

      <div class="priceInfo">
        <p class="productPrice">Willing to pay: {{sock.price}} €</p>
      </div>

      <div class="additionalInformation">
        <p id="priceDelivery">Price for fastest delivery: {{sock.deliveryPrime}} €</p>
        <p id="available">Available</p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <img style="display: none" src="assets/downArrow.png">
      <!-- just there so that the arrow will be displayed-->

      <div class="buttons">
        <button id="cartButton">Add sock to cart</button>
        <button id="purchaseButton">Fast check-out</button>
      </div>

      <div class="returnInfo">
        <p id="returnProduct">Returns are excluded for private sales. If you find any defects in the product, please
          contact <strong>SingleSocks Headquarters</strong> directly at +436501234567. </p>
      </div>

    </div>
  </div>

  <div class="infoButtons">
    <ul>
      <li [ngClass]="{'descriptionActive': technicalDescription}">
        <input type="radio" id="techInf" name="infoButtons" (click)="technicalDescription = true" autocomplete="off">
        <label for="techInf" id="technicalInformationLabel">Sock Information</label>

      </li>
      <li [ngClass]="{'descriptionActive': !technicalDescription}">
        <input type="radio" id="prodDesc" name="infoButtons" (click)="technicalDescription = false" autocomplete="off">
        <label for="prodDesc" id="productDescriptionLabel">Product description</label>
      </li>
    </ul>
  </div>

  <div class="technicalInfoContainer" *ngIf="technicalDescription">

    <table>
      <tr>
        <th>Manufacturer:</th>
        <td>{{sock.manufacturer}}</td>
      </tr>
      <tr>
        <th>Size:</th>
        <td>{{sock.size}}</td>
      </tr>
      <tr>
        <th>Condition:</th>
        <td>{{sock.condition}}</td>
      </tr>
    </table>

  </div>

  <div class="productDescriptionContainer" *ngIf="!technicalDescription">

    <div class="firstRow">
      <div class="leftContainer">
        <h1 id="section1Heading" class="sectionHeading">Random Sock Facts</h1>
        <p id="section1Text" class="sectionText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
          Ut enim ad minim veniam, quis nostrud exercitation<br>
          ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
          Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
      <div class="rightContainer">
        <h1 id="section2Heading" class="sectionHeading">Another Random Sock Facts</h1>
        <p id="section2Text" class="sectionText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
          Ut enim ad minim veniam, quis nostrud exercitation<br>
          ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
          Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </div>

    <div class="secondRow">
      <div class="leftContainer">
        <h1 id="section3Heading" class="sectionHeading">Not-so-random Sock Facts</h1>
        <p id="section3Text" class="sectionText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
          Ut enim ad minim veniam, quis nostrud exercitation<br>
          ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
          Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>

      <div class="rightContainer">
        <h1 id="section4Heading" class="sectionHeading">Optional Sock Fact</h1>
        <p id="section4Text" class="sectionText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
          Ut enim ad minim veniam, quis nostrud exercitation<br>
          ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
          Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </div>

  </div>

</main>
