
<section class="LoginHeader">
  <h1>Login</h1>
</section>
<br>
<main>
  <div class="styleForm">
    <form action="index.html" id="loginForm" class="loginForm">
      <input id="usernameInput" type="text" placeholder="username / e-mail" required/>
      <br>
      <input id="passwordInput" type="password" placeholder="password" required/>
      <br>

      <div class="buttonFlex">
        <button id="submitButton" class="submitButton" title="Sign In" type="submit" value="send">Login</button>
        <button id="resetButton" class="resetButton" title="reset" type="reset">Reset</button>
      </div>
      <br>

      <!-- TODO -->
      <p>Not yet registered?<a title="Create new account" href="register.html">Sign Up</a></p>
    </form>
  </div>
</main>
<br>
