<section class="LoginHeader">
  <h1>Login</h1>
</section>
<br>
<main>
  <div class="styleForm">
    <form action="index.html" id="loginForm" class="loginForm">
      <input id="usernameInput" type="text" placeholder="enter your e-Mail oder username" required/>
      <br>
      <input id="passwordInput" type="password" placeholder="enter your password" required/>
      <br>

      <div class="buttonFlex">
        <button id="submitButton" class="submitButton" title="Sign In" type="submit" value="send">Login</button>
        <!--<button id="resetButton" class="resetButton" title="reset" type="reset">Reset</button>-->
      </div>
      <br>

      <!-- TODO -->
      <p>Forgot password?<a title="Forgot password" href="">Reset password</a></p>
      <br>
      <p>Not yet registered?<a title="Create new account" [routerLink]="'/register'">Sign Up</a></p>

    </form>
  </div>
</main>
<br>
