<h1>Login</h1>

<main>
  <br>
  <!--TODO-->
  <form action="angularized_pages/app.userProfile.html">
    <section>
      <p>
        <label for="userEmailInput"><b>E-Mail address</b>: </label>
        <input type="text" id="userEmailInput" name="userEmail">
      </p>
      <p>
        <label id="userPassword-lbl" for="userPasswordInput"><b>Password</b>: </label>
        <input type="password" id="userPasswordInput" name="userPassword">
      </p>
    </section>

    <p>
      <br>
      <input type="submit" value="Login">
    </p>

  </form>
</main>
