<section id="FindSocksHeader" class="FindSocksHeader">
  <h1>Find Sock(s)</h1>
</section>
<main>

  <section id="filter_section" class="filter_section">
    <table>
      <tr>
        <td *ngFor="let attribute of attributes | keyvalue"><label for="{{attribute.key}}">{{attribute.key}}</label>
        </td>
      </tr>
      <tr>
        <td *ngFor="let attribute of attributes | keyvalue">
          <select id="{{attribute.key}}" name="{{attribute.key}}">
            <option value="allColors">All</option>
            <option *ngFor="let item of attribute.value | keyvalue" value="{{item.key}}">{{item.value}}</option>
          </select>
        </td>
      </tr>
    </table>
  </section>
  <br>

  <section id="sort_section" class="sort_section">
    Sort Socks by
    <button type="button" id="sort_newest_button" onclick="sortByNewest()">Newest</button>
    <div class="space"></div>
    <button type="button" id="sort_oldest_button" onclick="sortByOldest()">Oldest</button>
    <div class="space"></div>
    <button type="button" id="sort_lonliest_button" onclick="sortByLonliest()">Loneliest</button>
    <div class="space"></div>
    <button type="button" id="sort_closest_button" onclick="sortByClosest()">Closest</button>
    <div class="space"></div>
  </section>

  <section id="sock_showcase_section" name="showcase">
    <section>
      <section class="SockLovers">

        <article *ngFor="let sock of filteredSocks">
          <img [src]="sock.picture">
          <ul>
            <li><p><strong>{{sock.name}}</strong></p></li>
            <li><p>Size: {{sock.size}}</p></li>
            <li><p>Condition: {{sock.condition}}</p></li>
            <li>
              <button title="open sock"><a [routerLink]="['/sock', sock._id]">&#10024;Thats my match!</a></button>
            </li>
          </ul>
        </article>


      </section>
    </section>
    <footer>
      <br>
      <br>
      <section id="ProfileHeader" class="ProfileHeader">
        <h1>Other Socklovers</h1>
      </section>
      <section class="SockLovers">
        <article>
          <img src="assets/profile.png">
          <ul>
            <li><p></p></li>
            <li><p><strong>Maria Musterfrau</strong></p></li>
            <li><p>Searches for a sock-match</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="../../assets/profile1.png">
          <ul>
            <li><p></p></li>
            <li><p><strong>Mario Mustermann</strong></p></li>
            <li><p>Searches for a sock-match</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>
        <article>
          <img src="../../assets/profile.png">
          <ul>
            <li><p></p></li>
            <li><p><strong>Sabrina Sock</strong></p></li>
            <li><p>Wants to donate a sock</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/profile1.png">
          <ul>
            <li><p></p></li>
            <li><p><strong>Sebastian Sandal</strong></p></li>
            <li><p>Wants to know more about DIY</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/profile2.png">
          <ul>
            <li><p></p></li>
            <li><p></p></li>
            <li><p><strong>Petra Pride</strong></p></li>
            <li><p>Wants to create rainbow socks</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/profile.png">
          <ul>
            <li><p></p></li>
            <li><p><strong>Christa Blecha</strong></p></li>
            <li><p>&#x2757;Loves this presentation&#x2757;</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/profile1.png">
          <ul>
            <li><p></p></li>
            <li><p><strong>Bernhard Taufner</strong></p></li>
            <li><p>&#x2757;Also loves this presentation&#x2757;</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

      </section>

    </footer>
  </section>
</main>
