@import "src/styles.scss";

  .FindSocksHeader{
    background-color: $secondaryColor;
    h1{
      color: white;
      font-size: xx-large;
      padding: 2rem 1rem;
      text-align: left;
    }
  }
.filter_section {
  background-color: #eeeeee;
  font-size: x-large;
  padding: 1rem 1rem;
  border-spacing: 2rem;
  border-spacing: 16px;

  .td{
    text-align: center;
  }

  table {
    border-spacing: 30px;
  }
}

.sort_section{
    font-size: x-large;
    padding: 1rem 1rem;
  text-align: right;
  .space {
    width: 4px;
    height: auto;
    display: inline-block;
  }
  }

nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(3, 51, 70);
}

nav ul li:active, nav ul li:hover {
  background-color: #0a4a65;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  padding: 1rem 1.5rem;
  transition-duration: 400ms;
}

nav ul li:active a, nav ul li:hover a {
  color: #c1e3f3;
}

main .SockLovers {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  overflow-y: hidden;
  padding: 5rem 5rem;
  margin: 0 1rem;
  column-gap: 4rem;
  background-color: #eeeeee;
  box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.3);
}

main .SockLovers::-webkit-scrollbar {
  display: none;
}

main .SockLovers:first-child {
  padding-left: 4rem;
}

main .SockLovers:last-child {
  padding-right: 4rem;
}

main .SockLovers article {
  display: inline-block;
  flex-direction: row;
  min-width: 250px;
  min-height: 300px;
  max-width: 250px;
  max-height: 300px;
  background-color: white;
  border-radius: 1.75rem;
  box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  justify-items: flex-start;
}

main .SockLovers article img {
  position: relative;
  left: 75%;
  top: -15%;
  width: 45%;
  max-height: 170px;
}

main .SockLovers article ul {
  position: relative;
  top: -160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  text-align: center;
  list-style: none;
}

main .SockLovers article ul li {
  display: block;
}

main .SockLovers article ul li button {
  padding: 1rem;
  border-style: none;
  background-color: #97c9de;
  border-radius: 1.75rem;
  transition-duration: 500ms;
}

main .SockLovers article ul li button:active, main .SockLovers article ul li button:hover {
  background-color: #0a4a65;
  border-radius: 1.75rem;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  padding: 1rem 3rem;
  transition-duration: 500ms;
}

@media screen and (max-width: 2100px) {
  .SockLovers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 6rem;
    column-gap: 1rem;
  }
}

.ProfileHeader{
  background-color: $secondaryColor;
  h1{
    color: white;
    font-size: x-large;
    padding: 2rem 1rem;
    text-align: center;
  }
}

.filterList {
  box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  margin-left: 1rem;
  margin-right: 1rem;
}
