<h1>Find Sock(s)</h1>
<main>

  <section id="filter_section">
    <table>
      <tr>
        <td><label for="mainColour">Main colour</label></td>
        <td><label for="sockSize">Size</label></td>
        <td><label for="pattern">Pattern</label></td>
        <td><label for="type">Type</label></td>
        <td><label for="material">Material</label></td>
      </tr>
      <tr>
        <td><select id="mainColour" name="mainColour">
          <option value = "allColors">All Colors</option>
          <option *ngFor="let color of colors" value="{{color}}">{{color}}</option>
        </select></td>
        <td><select id="sockSize" name="sockSize">
          <option value = "allSizes">All Sizes</option>
          <option *ngFor="let sockSize of sizes" value={{sockSize}}>{{sockSize}}</option>
        </select></td>
        <td><select id="pattern" name="pattern">
          <option value = "allPatterns">All Patterns</option>
          <option *ngFor="let pattern of patterns" value={{pattern}}>{{pattern}}</option>
        </select></td>
        <td><select id="type" name="type">
          <option value = "allTypes">All Types</option>
          <option *ngFor="let type of types" value={{type}}>{{type}}</option>
        </select></td>
        <td><select id="material" name="material">
          <option value = "allMaterials">All Materials</option>
          <option *ngFor="let material of materials" value={{material}}>{{material}}</option>
        </select></td>
      </tr>
    </table>
  </section><br>

  <section id="sort_section">
    Sort Socks by
    <button type="button" id="sort_newest_button" onclick="sortByNewest()">Newest</button>
    <button type="button" id="sort_oldest_button" onclick="sortByOldest()">Oldest</button>
    <button type="button" id="sort_lonliest_button" onclick="sortByLonliest()">Lonliest</button>
    <button type="button" id="sort_closest_button" onclick="sortByClosest()">Closest</button>
  </section>

  <section id="sock_showcase_section" name="showcase">
    <section>
      <div class="HeaderShop">
        <ul>
          <li><a>Featured Socks</a></li>
        </ul>
      </div>

      <section class="ProductsShop">

        <article>
          <img src="assets/redsinglesock.png">
          <ul>
            <li><p>Red Single</p></li>
            <li><p>XXXXXX</p></li>
            <li>
              <button>Select Product</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/bluestripesocks.png">
          <ul>
            <li><p>XXXX</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Select Product</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/greysocks.png">
          <ul>
            <li><p>XXXX</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Select Product</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/bluestripesocks.png">
          <ul>
            <li><p>XXXX</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Select Product</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/redsinglesock.png">
          <ul>
            <li><p>XXXX</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Select Product</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/redsinglesock.png">
          <ul>
            <li><p>XXXX</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Select Product</button>
            </li>
          </ul>
        </article>


      </section>
    </section>
    <footer>

      <div class="HeaderShop">
        <ul>
          <li><a>Other Sock Lovers</a></li>
        </ul>
      </div>

      <section class="ProductsShop">
        <article>
          <img src="assets/profile.png">
          <ul>
            <li><p>Name</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/profile.png">
          <ul>
            <li><p>Name</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>
        <article>
          <img src="assets/profile.png">
          <ul>
            <li><p>Name</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/profile.png">
          <ul>
            <li><p>Name</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/profile.png">
          <ul>
            <li><p>Name</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

        <article>
          <img src="assets/profile.png">
          <ul>
            <li><p>Name</p></li>
            <li><p>XXXX</p></li>
            <li>
              <button>Show Profile</button>
            </li>
          </ul>
        </article>

      </section>

    </footer>
  </section>
</main>
