<main>
  <section class="CreateHeader">
    <h1>Create a Single Sock</h1>
    <h2>Please tell us a bit more about your Single Sock!</h2>
  </section>

  <form (ngSubmit)="create()" [formGroup]="validation">
    <div class="itemContainer">
      <section class="CreateTitle">
        <p>
          <label for="sockTitle">Name of your Sock: </label>
          <input type="text" id="sockTitle" name="sockTitle" formControlName="name">
        </p>
      </section>

      <section class="CreateUpload">
        <p><label for="sockImageFile">Upload a picture of your SingleSock</label></p>
        <p><input type="file" (change)="fileUploaded($event)" id="sockImageFile" accept="image/*" style="display: flex"
                  name="sockImage"></p>
        <!--
        <p><img id="sockImage" scr="#" alt="Preview of your SingleSock" width="300"/></p>
        -->
        <br>
      </section>
    </div>

    <table style="overflow-x:auto;">
      <tr *ngFor="let item of attributes | keyvalue">
        <td>
          <label for="{{item.key}}">{{item.key}}: </label>
        </td>
        <td>
          <select id="{{item.key}}" name="{{item.key}}" formControlName="{{item.key}}">
            <option *ngFor="let attributeValue of item.value | keyvalue"
                    [value]="attributeValue.key">{{attributeValue.value}}</option>
          </select>
        </td>
      </tr>
    </table>
    <br>

    <div class="CreateDescription">
      <label for="description">Short description: </label>
      <br>
      <textarea id="description" name="description" cols="70" rows="8" formControlName="description"></textarea>
    </div>
    <div class="CreateButton">
      <p>
        <input type="submit" value="Create SingleSock" [disabled]="validation.invalid">
      </p>
    </div>
  </form>


</main>

