<nav class="nav">
  <ul class="highlightActive menuList">
    <li *ngFor="let link of linkList.links">
      <a [routerLink]="'/' + link.link">
        <span>{{link.name}}</span>
        <i [class]="'fa ' + link.icon"></i>
      </a>
    </li>

    <ng-container *ngIf="!authService.isUserLoggedIn()">
      <li *ngFor="let link of authLinkList.links">
        <a [routerLink]="'/' + link.link">
          <span>{{link.name}}</span>
          <i [class]="'fa ' + link.icon"></i>
        </a>
      </li>
    </ng-container>
    <ng-container *ngIf="authService.isUserLoggedIn()">
      <li *ngFor="let link of linkLoggedInlist.links">
        <a [routerLink]="'/' + link.link">
          <span>{{link.name}}</span>
          <i [class]="'fa ' + link.icon"></i>
        </a>
      </li>
      <li (click)="logout()">
        <a>
          <span>Logout</span>
          <i class="fa-solid fa-arrow-right-to-bracket beside-icon"></i>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>

<div class="collapsible-menu">
  <div class="menuBars">
    <span id="barLabel" (click)="isMenuVisible = !isMenuVisible"><i class="fa-solid fa-bars bars"></i></span>
    <div *ngIf="isMenuVisible" class="ng-hide collapsible-menu-items">
      <ul class="highlightActive">
        <li *ngFor="let link of linkList.links">
          <a [routerLink]="'/' + link.link" (click)="isMenuVisible=false">
            <span>{{link.name}}</span>
            <i [class]="'fa ' + link.icon"></i>
          </a>
        </li>
        <ng-container *ngIf="!authService.isUserLoggedIn()">
          <li *ngFor="let link of authLinkList.links">
            <a [routerLink]="'/' + link.link" (click)="isMenuVisible=false">
              <span>{{link.name}}</span>
              <i class="fa-solid fa-arrow-right-to-bracket beside-icon"></i>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="authService.isUserLoggedIn()">
          <li *ngFor="let link of linkLoggedInlist.links">
            <a [routerLink]="'/' + link.link" (click)="isMenuVisible=false">
              <span>{{link.name}}</span>
              <i [class]="'fa ' + link.icon"></i>
            </a>
          </li>
          <li (click)="logout()">
            <a>
              <span>Logout</span>
              <i class="fa-solid fa-arrow-right-to-bracket beside-icon"></i>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
