@import "src/styles.scss";

@media screen {

  .collapsible-menu {
    visibility: hidden;

  }
  .nav {
    z-index: 3;

  }

  .menuList {
    display: flex;
    visibility: visible;

    li {
      transition-duration: 400ms;

      padding: 1rem 0 1rem 1rem;
      margin: 0 0.5rem;

      &:active, &:hover {
        padding: 1rem 1.5rem;
      }

      * {
        justify-content: right;
      }
    }
  }
}

@media screen and (max-width: 1080px) {

  .collapsible-menu {
    visibility: visible;
  }
  .nav {
    z-index: 2;
  }

  .menuList {
    visibility: hidden;
    display: block;
    text-align: right;

    padding: 2rem 1rem 1rem 1rem;


    li {
      transition-duration: 400ms;
      margin: 0.5rem 0;

      * {
        justify-content: right;
      }

      &:first-child {
        margin-top: 3.5rem;

      }
    }
  }
}

nav {
  position: fixed;
  top: 1rem;
  right: 1rem;

  ul {

    padding: 0.5rem 1rem;
    border-radius: 3rem;

    display: flex;
    list-style: none;

    background-color: white;
    @include shadow(outside);

    li {
      border-radius: 3rem;

      a {
        font-size: $textFontSize;
        text-decoration: none;
        color: var(--fc-black);

        display: flex;
        gap: 0.5rem;

        svg {
          width: 1.5rem;
        }

        .beside-icon {
          font-size: 110%;
          margin-top: 0.1rem;
        }
      }

      &:active, &:hover {
        background-color: $secondaryColor;
        @include shadow(outside);

        padding: 1rem 1.5rem;
        transition-duration: 400ms;

        svg {
          fill: $tertiaryColor;
        }

        a {
          color: $tertiaryColor;
        }
      }
    }
  }
}

.collapsible-menu {
  background-color: white;
  position: fixed;
  display: flex;
  align-items: right;
  justify-content: space-between;


  z-index: 2;
  min-width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  top: 1rem;
  right: 1rem;

  @include shadow(outside);
}

.collapsible-menu-items {
  ul {
    list-style-type: none;

    li {
      vertical-align: middle;
      text-align: center;
      padding: 0.5rem;

      a {
        font-size: $textFontSize * 1.2;
        text-decoration: none;
        color: var(--fc-black);

        svg {
          width: 1.5rem;
          margin-left: 0.5rem;
        }

        i {
          margin-left: 0.5rem;
        }
      }

      &:active, &:hover {
        background-color: $secondaryColor;
        @include shadow(outside);

        transition-duration: 400ms;

        svg {
          fill: $tertiaryColor;
        }

        a {
          color: $tertiaryColor;
        }
      }
    }
  }
}

.menu-icons {
  font-size: 220%;
  color: #0a4a65;

  border-radius: 1rem;
  padding: 0.5rem 1rem;

  transition: background-color 0.4s;
  cursor: pointer;
}


#barLabel {
  font-size: 220%;
  color: #0a4a65;

  border-radius: 1rem;
  padding: 0.5rem 1rem;

  transition: background-color 0.4s;
  cursor: pointer;
}

.menuBars {
  text-align: right;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
