<header id="top" class="containerHeader">
  <div class="slogan">
    <h2 id="headerHeading">Welcome to SingleSocks!</h2>
    <p id="headerSubheading">A project made for people that lose socks.</p>
  </div>
</header>

<nav class="nav">
  <ul class="highlightActive menuList">
    <li *ngFor="let link of linkList.links">
      <a [routerLink]="'/' + link.link">
        <span>{{link.name}}</span>
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path [attr.d]="link.icon"></path>
        </svg>
      </a>
    </li>
    <li *ngFor="let link of authLinkList.links">
      <a [routerLink]="'/' + link.link">
        <span>{{link.name}}</span>
        <i class="fa-solid fa-arrow-right-to-bracket beside-icon"></i>
      </a>
    </li>
  </ul>
</nav>

<!-- TODO -->
<div class="collapsible-menu">
  <a class="menu-icons" id="icon1" href="index.html"><i class="fa-solid fa-bag-shopping"></i></a>
  <a class="menu-icons" id="icon2" href="socks.html"><i class="fa-solid fa-bag-shopping"></i></a>
  <div class="menuBars">
    <label for="collapsible" id="barLabel"><i class="fa-solid fa-bars bars"></i></label>
    <input type="checkbox" id="collapsible" autocomplete="off">
  </div>
</div>
